node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
#lib
build
node_modules
.idea/*
coverage.json
coverage/
yarn-error.log
crytic-export
mcore_*
.env
typechain
artifacts
cache
out
